<header id="nav" class="navbar-fixed-top">
	<div class="navbar-header">
		
		<a id="logo" href=<%= root_url%>>SAPPHIRINE</a>
		
	</div>
	<ul class="nav navbar-nav pull-right">
		
		<li><%= link_to "Our Project", "#"%></li>
		<li><%= link_to "Clusters", combinations_path%></li>
		<li><%= link_to "Cars", "#"%></li>

	</ul>

</header>